/**
 * 全局公共类型 css class
 */

/* logo start */

/* .logo {
    display: inline-block;
    width: 150px;
    height: 80px;
    background: url('../images/test.jpg') no-repeat #FB844F;
} */

/* logo end */

html {
  font-family: Roboto, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue,
    Helvetica, NotoSans-Regular, NotoSans, Nimbus Sans L, Arial, Lucida Grande,
    sans-serif, caption;
}
.banner {
  /* width: 100%;
    height: ;
    background: url('../images/banner.jpg') no-repeat #FB844F; */
}

/* common start */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *+height: 1%;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.icon-back {
    display: inline-block;
    width: 10px;
    height: 30px;
    background: url(/assets/images/back@2x.png) 100% 100% no-repeat;
    background-size: 100%;
}

.icon-lang {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(/assets/images/lang@2x.png) 100% 100% no-repeat;
    background-size: 100%;
    position: relative;
    top: 5px;
    left: -6px;
}

.icon-contact {
    display: inline-block;
    width: 20px;
    height: 12px;
    background: url(/assets/images/contact@2x.png) 100% 100% no-repeat;
    background-size: contain;
    position: relative;
    top: 2px;
    left: -6px;
}

/* common end */
