<% include partial/header.ejs %>
<style>
	.container {
		max-width: 900px;
		margin: 0 auto;
		overflow: hidden;
	}

	.banner {
		position: relative;
		width: 100%;
		height: 150px;
		background: url(../assets/images/banner.jpg) no-repeat #586cfe;
		color: #fff;
		background-size: contain;
		background-position: center;
	}
	.banner .text { position: relative; top: 30px; left: 20px; }
	.banner .title1 { font-size: 20px; font-weight: 200;}
	.banner .title2 { font-size: 30px; font-weight: 800;}
	.banner .title3 { font-size: 11px; font-weight: 200;}

	.nav {
		background: blue;
	}

	.nav ul, .nav li{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.nav li {
		display: inline-block;
	}

	.nav a {
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		color: aliceblue;
		cursor: pointer;
	}

	.nav a.active {
		background: gainsboro;
		color: black;
	}

	.content {
		padding: 20px;
		background: gainsboro;
	}

	.content h2 {
		margin: 0;
	}
</style>

<body class="page-index">

	<div class="container">
		<div class="banner">
			<div class="text">
				<div class="row title1">抗击新型冠状病毒</div>
				<div class="row title2">中国方案供世界参考</div>
				<div class="row title3">方案整理来源：新型冠状病毒肺炎诊疗方案(试行第七版)</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="nav clearfix">
			<ul>
				<li><a class="active">病毒知识</a></li>
				<li><a>临床经验</a></li>
				<li><a>治疗方法</a></li>
				<li><a>自我防护</a></li>
			</ul>
		</div>
	</div>

	<div class="container">
		<div class="content">

			<h2>临床证明</h2>
			<p>ad咖啡机拉开打几份拉开就的福利卡机的了副科级阿拉山口的飞机阿连接都是福利卡设计的福利卡设计的福利卡机地方</p>
		</div>
	</div>

</body>
<% include partial/footer.ejs %>


<script>
	$(function(){
		// xxStaticHtml.pages.index.say();
		$(".nav a").click(function(e){
			$a = $(this);
			$a.parent().parent().find("a").removeClass("active");
			$a.addClass("active");
		})
	});
</script>