/**
 * 业务 - index 页面css
 */
.page-index {
}

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.banner {
  position: relative;
  width: 100%;
  height: 150px;
  background: url(../images/banner.jpg) no-repeat #586cfe;
  color: #fff;
  background-size: contain;
  background-position: center;
}
.banner .text {
  position: relative;
  top: 30px;
  left: 20px;
}
.banner .title1 {
  font-size: 20px;
  font-weight: 200;
}
.banner .title2 {
  font-size: 30px;
  font-weight: 800;
}
.banner .title3 {
  font-size: 11px;
  font-weight: 200;
}

.nav {
  background: #0e4c82;
}

.nav ul,
.nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav a,
.footer a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 15px;
  line-height: 42px;
}

.nav a.active {
  background: #fff;
  color: #0e4c82;
  border-radius: 15px 15px 0px 0px;
}

.content {
  padding: 20px;
  background: #fff;
  margin-bottom: 50px;
}

.content h2,
.content h3,
.content p {
  margin: 0;
  margin-top: 12px;
}

.content h2 {
  color: #f8588e;
  font-size: 18px;
}

.content h3 {
  color: #3b52f8;
  font-size: 15px;
}

.content p {
  color: #333;
  font-size: 12px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #586cff;
}

.footer .row {
  display: flex;
}

.footer .col {
}

.footer .col-1 {
  width: 100px;
}

.footer .col-n {
  width: 100px;
}

.footer a {
  text-align: center;
  line-height: 40px;
  color: #fefefe;
  font-size: 12px;
}
